In [30]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../')

from config import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

---
---
## Importamos los datos

In [31]:
df = pd.read_pickle('../../datos/tratados/encoded_scaled_df_employee_data.pkl').reset_index(drop=True)
df.sample(3)

,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,DistanceFromHome,EducationField,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Education_Bachelor,Education_Below College,Education_College,Education_Doctor,Education_Master,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,Manager_opinion_JobInvolvement_High,Manager_opinion_JobInvolvement_Low,Manager_opinion_JobInvolvement_Medium,Manager_opinion_JobInvolvement_Very High,Manager_opinion_PerformanceRating_Excellent,Manager_opinion_PerformanceRating_Outstanding
1375,0.25,0.24,0.17,-0.23,True,0.14,0.15,-0.50,0.16,0.00,0.12,0.07,1.67,-0.50,-1.00,0.33,-1.00,0.67,0.00,0.80,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00
444,0.14,0.17,0.31,-0.08,True,0.14,0.15,1.42,0.17,0.50,0.11,-0.53,-0.33,-0.17,2.00,-0.56,-2.00,-0.17,-0.33,-0.20,1.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00
1028,0.15,0.11,0.18,-0.46,True,0.14,0.15,0.42,0.16,0.00,0.26,0.03,-0.33,-0.33,1.00,-1.00,0.00,-0.67,-0.33,-0.60,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00

---
---

## Prediccion 1

In [32]:
X = df.drop(columns=['Attrition'])
y = df[['Attrition']]

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=42)

In [33]:
default_params = {
            "tree": {
                'max_depth': [3, 5, 10],
                'min_samples_split': [2, 10, 15],
                'min_samples_leaf': [1, 4, 8]
            },
            "random_forest": {
                'n_estimators': [50, 100, 200],
                'max_depth': [4, 5, 6, 8, 12, 16],
                'min_samples_split': [2, 5, 10],
                'min_samples_leaf': [4, 6, 8]
            },
            "gradient_boosting": {
                'n_estimators': [100, 200],
                'learning_rate': [0.01, 0.1, 0.2],
                'max_depth': [3, 4, 5],
                'min_samples_split': [2, 5, 10],
                'min_samples_leaf': [1, 2, 4],
                'subsample': [0.8, 1.0]
            },
            "xgboost": {
                'n_estimators': [100, 200],
                'learning_rate': [0.01, 0.05, 0.1],
                'max_depth': [4, 5, 7, 9],
                'min_child_weight': [1, 3, 5],
                'subsample': [0.8, 1.0],
                'colsample_bytree': [0.8, 1.0]
            }}

In [34]:
models_asistant = sup_models.AnalisisModelosClasificacion(df, 'Attrition')

## Aplicamos Modelos

In [35]:
models_asistant.modelos.keys()

dict_keys(['logistic_regression', 'tree', 'random_forest', 'gradient_boosting', 'xgboost'])

In [36]:
df_logistic_regresion = models_asistant.ajustar_modelo('logistic_regression')
df_logistic_regresion = models_asistant.calcular_metricas('logistic_regression')
df_logistic_regresion['modelo'] = 'logistic_regression'

df_logistic_regresion

,accuracy,precision,recall,f1,kappa,auc,time_seconds,n_jobs,modelo
train,0.85,0.83,0.85,0.78,0.07,0.77,0.00,NaN,logistic_regression
test,0.84,0.83,0.84,0.78,0.09,0.71,0.00,NaN,logistic_regression

In [37]:
df_tree = models_asistant.ajustar_modelo("tree", param_grid=default_params["tree"])
df_tree = models_asistant.calcular_metricas("tree")
df_tree["modelo"] = "tree"
df_tree

Fitting 5 folds for each of 27 candidates, totalling 135 fits
El mejor modelo es DecisionTreeClassifier(max_depth=3, min_samples_leaf=4, random_state=42)

,accuracy,precision,recall,f1,kappa,auc,time_seconds,n_jobs,modelo
train,0.85,0.82,0.85,0.82,0.24,0.71,0.00,8.00,tree
test,0.83,0.79,0.83,0.79,0.16,0.62,0.00,8.00,tree